$color1: black;
$color2: rgb(190, 143, 125);
$color3: rgb(81, 55, 36);
$shadow-color: rgb(255, 255, 255);

// altura de banner
$banner--heigth: auto;
// $banner--heigth-md: (400px * 0.5);
// $banner--heigth-lg: (400px * 0.75);
